<ion-header>
  <ion-navbar>
    <ion-title>Course Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contact-card-content">
  <ion-slides class="contact-slides" pager="true" autoplay="4000" loop="false">
    <!--<ion-slide class="contact-slide" *ngFor="let image of contact.images">
      <background-image class="slide-image" [src]="image"></background-image>
    </ion-slide>-->
    <ion-slide class="contact-slide">
      <background-image class="slide-image" [src]="course.main_photo"></background-image>
    </ion-slide>
  </ion-slides>
  <ion-row class="contact-details-row" wrap>
    <ion-col no-padding>
      <h2 class="contact-name">{{ course.biz_name }}</h2>
    </ion-col>
    <ion-col no-padding width-35 class="rating-col" style="position: relative" (click)="openInAppBrowser(course.golf_advisor_url)" *ngIf="course.golf_advisor_url !== undefined">
      <img src="./assets/images/logo-ga.png" style="position: absolute; top: -20px; right: 0px; z-index: 10; width: 100px">
      <div class="contact-rating">
        <ion-item class="rating-item">
          <rating [(ngModel)]="course.golf_advisor_rating" max="5" read-only="true"></rating>
        </ion-item>
        <p class="contact-description" *ngIf="course.golf_advisor_par > 0 && course.golf_advisor_holes > 0">
          Par: {{course.golf_advisor_par}} - Holes: {{course.golf_advisor_holes}}
        </p>
      </div>
    </ion-col>
  </ion-row>
  <div class="button-bar" *ngIf="course.biz_phone !== undefined">
    <button ion-button primary (click)="call(course.biz_phone)">
      Call
    </button>
    <button ion-button primary (click)="launchMaps()">
      Navigate
    </button>
    <button ion-button primary (click)="startRound()">
      Play
    </button>
  </div>
  <preload-image (click)="launchMaps()" [ratio]="{w:4, h:3}" src="https://maps.googleapis.com/maps/api/staticmap?center={{course.location.coordinates[1]}},{{course.location.coordinates[0]}}&zoom=15&size=400x300&scale=2&markers=icon:http://res.cloudinary.com/zendoks/image/upload/v1496453323/courses/marker.png|{{course.location.coordinates[1]}},{{course.location.coordinates[0]}}"
    alt="{{ contact.name }} location map" title="{{ contact.name }} - {{ contact.address }}"></preload-image>
  <ion-list class="details-list">
    <ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="pin"></ion-icon>
      </ion-avatar>
      <span class="detail-text" (click)="launchMaps()">{{ course.e_address }} {{ course.e_city }} {{ course.e_postal }}</span>
      <span class="detail-text" style="margin-top: 10px">
        {{ course.distanceText }}
      </span>
    </ion-item>
    <!--<ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="globe"></ion-icon>
      </ion-avatar>
      <span class="detail-text">{{ contact.website }}</span>
    </ion-item>-->
    <ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="call"></ion-icon>
      </ion-avatar>
      <span class="detail-text" (click)="call(course.biz_phone)">{{ course.biz_phone }}</span>
    </ion-item>
    <!--<ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="mail"></ion-icon>
      </ion-avatar>
      <span class="detail-text">{{ contact.email }}</span>
    </ion-item>-->
  </ion-list>
</ion-content>
