maps-page {
  /* Keyframes for the fade-in */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /* Keyframes for the fade-out */
  @-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-moz-keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  /* Keyframes for the slide-down */
  @-webkit-keyframes slideDown {
    from {
      top: 0;
    }
    to {
      top: 44;
    }
  }
  @-moz-keyframes slideDown {
    from {
      top: 0;
    }
    to {
      top: 44;
    }
  }
  @keyframes slideDown {
    from {
      top: 0;
    }
    to {
      top: 44;
    }
  }
  .slide-down {
    top: 44px;
    transition: all 500ms ease;
  }
  .slide-up {
    top: 0px;
    transition: all 500ms ease;
  }
  .fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
  .fade-out {
    -webkit-animation: fadeOut ease-out 1;
    -moz-animation: fadeOut ease-out 1;
    animation: fadeOut ease-out 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }
  @keyframes selectPlaceAnimation {
    to {
      margin-top: -20px;
      height: 110%;
    }
    from {
      margin-top: 0;
      height: 100%;
    }
  }
  .changeSize {
    display: none;
  }
  $map-height: 100%;
  $nearby-places-height: 210px;
  .user-image-heading {
    height: 100%;
    transform: translate(0px, 0px, 0px);
    background-image: -webkit-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    background-image: -moz-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    background-image: -o-linear-gradient(bottom left, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    background-image: linear-gradient(to top right, rgba(43, 40, 50, 0.8) 0%, rgba(83, 86, 99, 0.8) 45%, rgba(69, 77, 91, 0.6) 60%);
    position: absolute;
    width: 100%;
    height: 100%;
    /* blur filters */
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    opacity: .3;
  }
  .map-row {
    height: $map-height;
    margin: 0px !important;
    .map-col {
      position: relative;
    }
    .search-container {
      position: absolute;
      left: 0px;
      right: 0px;
      z-index: 4;
      .search-toolbar {
        padding: 0px 10px;
        .toolbar-background {
          background: color($colors, background, base);
          border: none;
          @include element-shadow();
        }
        &.transparent-background {
          .toolbar-background {
            background: transparent;
            box-shadow: none;
          }
          ion-searchbar.search-places-bar {
            .searchbar-input {
              background-color: $white;
            }
          }
        }
        .bar-buttons {
          margin: 0px;
          .geolocation-button {
            color: $black-d;
            margin-left: -3px;
            &.using-geolocation {
              color: $theme-color-1;
            }
          }
        }
        ion-searchbar.search-places-bar {
          background: transparent;
          padding: 10px 0px;
          padding-left: 5px;
          border: none;
          .searchbar-input {
            border-radius: 1.5rem;
            color: $theme-color-2;
            background-color: $white-c;
          }
          .searchbar-search-icon {
            @include ios-searchbar-icon($searchbar-ios-input-search-icon-svg, $theme-color-2);
          }
        }
      }
      .search-results {
        padding: 10px;
        padding-top: 0px;
      }
    }
    .map-container {
      opacity: 0;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      google-map {
        height: 100%;
        width: 100%;
      }
    }
    .nearby-places-container {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 4;
      height: $nearby-places-height;
      .scroll-zoom-wrapper {
        height: 100%;
        .nearby-places-row {
          height: 100%;
          @include flex-wrap(nowrap);
        }
      }
      .place-card {
        transition: all 100ms ease-in-out;
        border-radius: 2px;
        position: absolute;
        height: 200px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: #ffffff;
        // &:nth-child(1) {
        //   top: 40px;
        //   width: 100% - 5% * 3;
        //   opacity: .2;
        //   /* animation: scaleCard 100ms; */
        // }
        // &:nth-child(2) {
        //   top: 45px;
        //   width: 100% - 5% * 2;
        //   opacity: .5;
        // } // &:nth-child(n+4) {
        //   top: (12px * 5);
        //   width: 100% - 5% * 2;
        //   opacity: 0
        // }
      } // &.selected-place .place-card {
      //   margin-top: -20px;
      //   height: 110%;
      //   animation-name: selectPlaceAnimation;
      //   animation-duration: .5s;
      // }
      // &.selected-place .place-image-heading {
      //   height: 55%;
      // }
      // .place-image-heading {
      //   height: 100%;
      //   ion-spinner {
      //     z-index: 2;
      //   }
      //   @include spinner-color($white);
      // }
      .place-title {
        position: absolute;
        bottom: 0;
        display: inline-block;
        font-family: 'Ropa Sans', sans-serif;
        width: 100%;
        text-align: left;
        font-size: 6vw;
        font-weight: 250;
        letter-spacing: 0.4px;
        color: $white;
        margin: 0px;
        padding: 9px;
        text-shadow: 1px 1px 1px #000
      }
      .details-button {
        box-shadow: none;
        margin-top: -5px;
        height: 40px;
        @include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
      }
      .place-details-container {
        padding: 5px 9px 9px;
        .details-row {
          margin-bottom: 6px;
        }
        .opening-hours {
          font-size: 1.0rem;
          font-weight: 500;
          text-transform: uppercase;
          &.opened {
            color: $theme-color-1;
          }
          &.closed {
            color: $theme-color-3;
          }
        }
        .place-rating {
          @include rating-item-styles($white-d, $theme-color-1);
          .rating-item {
            box-shadow: none;
            background: transparent;
            margin: 2px 0px;
            min-height: 0px;
            rating {
              padding: 0px !important;
              .rating-icon {
                padding: 0px 1px;
                height: auto;
                ion-icon {
                  font-size: 0.9em !important;
                }
              }
            }
          }
        }
        .details-list {
          ion-item {
            background: transparent;
            padding: 0px;
            ion-avatar {
              margin: 5px 5px 5px 0px;
              min-width: 0px;
              min-height: 0px;
              width: 10%;
              text-align: center;
              ion-icon {
                font-size: 1.4em;
                color: $white-d;
              }
            }
            .item-inner {
              padding: 0px;
              ion-label {
                margin: 0px;
                overflow: visible;
                white-space: normal;
              }
            }
          }
          .place-location {
            .location-text {
              margin-top: 10px;
              color: #666666;
              font-size: 1.2rem;
              display: block;
            }
            .distance-text {
              margin-top: 0;
              color: #666666;
              font-size: 1.5rem;
              display: block;
            }
          }
        }
      }
    }
  }
}
