<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="header-logo">
        <img src="./assets/images/header_logo_white.png" style="width: 125px; margin-top: 10px">
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: #294c87">
  <ion-row no-padding class="map-row">
    <ion-col no-padding class="map-col">
      <div class="search-container">
        <!-- <ion-toolbar class="search-toolbar transparent-background"> -->
        <ion-toolbar class="search-toolbar">
          <ion-buttons start>
            <button ion-button icon-only (click)="geolocateMe()" class="geolocation-button" [ngClass]="{'using-geolocation': map_model.using_geolocation}">
              <ion-icon name="locate"></ion-icon>
            </button>
          </ion-buttons>
          <ion-searchbar class="search-places-bar" placeholder="Search places near location" [(ngModel)]="map_model.search_query" (ionInput)="searchPlacesPredictions(map_model.search_query)"
            (ionClear)="clearSearch()"></ion-searchbar>
        </ion-toolbar>
        <ion-list [hidden]="map_model.search_places_predictions.length == 0" class="search-options-list">
          <ion-item *ngFor="let place of map_model.search_places_predictions" tappable (click)="selectSearchResult(place)">
            {{ place.description }}
          </ion-item>
        </ion-list>
      </div>
      <background-image class="user-image-heading" [src]="selectedPlaceImage"></background-image>
      <div class="place-details-container" text-center class="fade-in" [hidden]="!displayPlaceDetails" style="width: 100%; position: absolute; top: 75px; color: #ffffff; padding: 10px">
        <h2 style="margin-bottom: 0">{{ selectedPlace.CourseName }}</h2>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <button ion-button outline color="light" full>
          Call
        </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button outline color="light" full>
          Navigte
        </button>
            </ion-col>
            <ion-col col-4>
              <button ion-button outline color="light" full>
          Play
        </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--<h4 style="margin-top: 0">
          <ion-icon name="call"></ion-icon> {{ selectedPlace.PhoneNumber }}</h4>-->
        <h5>{{ selectedPlace.TotalHoles }} holes | Founded {{ selectedPlace.YearBuiltFounded }}</h5>
      </div>
      <div class="map-container">
        <google-map [options]="map_model.map_options"></google-map>
      </div>
      <ion-scroll [hidden]="map_model.nearby_places.length == 0" scrollX="true" class="nearby-places-container">
        <ion-row class="nearby-places-row">
          <ion-col width-80 class="place-item-outer" *ngFor="let place of map_model.nearby_places" [ngClass]="{'selected-place': place.selected}">
            <ion-card class="place-card">
              <background-image class="place-image-heading" [src]="place.details.image" (tap)="choosePlace(place)">
                <ion-row class="heading-row">
                  <ion-col no-padding width-100>
                    <h2 class="place-title">{{ place.details.CourseName }}</h2>
                  </ion-col>
                </ion-row>
              </background-image>
              <div class="place-details-container">
                <ion-list class="details-list" no-lines *ngIf="place.selected">
                  <ion-item class="place-location">
                    <ion-avatar item-left>
                      <ion-icon name="pin"></ion-icon>
                    </ion-avatar>
                    <span class="distance-text">{{ currentDistanceText }}</span>
                  </ion-item>
                </ion-list>
                <ion-row *ngIf="place.selected">
                  <button ion-button block class="details-button" (click)="openCourse(place.details)">Details</button>
                </ion-row>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </ion-col>
  </ion-row>
</ion-content>
