<ion-header>
  <ion-navbar>
    <ion-title>{{ course.CourseName }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding>
    <ion-segment [(ngModel)]="scoreSection">
      <ion-segment-button value="scorecard">
        Scorecard
      </ion-segment-button>
      <ion-segment-button value="roundsummary">
        Round Summary
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="scoreSection">
    <ion-list *ngSwitchCase="'scorecard'">
      <ion-item>
        <h1 text-center>Hole #: {{currentHole}} - {{ course['Hole_' + currentHole] }} Yards - Par {{ course['Par_' + currentHole] }}</h1>
      </ion-item>
      <ion-item>
        <ion-range min="1" step="1" max="18" snaps="true" [(ngModel)]="currentHole" debounce="700" (ionChange)="checkHoleInformation()">
          <ion-label range-left class="small-text">Hole</ion-label>
          <ion-label range-right>{{currentHole}}</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>
          Handicap:
        </ion-label>
        <ion-label end text-right>
          {{ course['Hdcp ' + currentHole] }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-range min="1" step="1" max="10" snaps="true" [(ngModel)]="currentScore" debounce="700">
          <ion-label range-left class="small-text">Score</ion-label>
          <ion-label range-right>{{currentScore}}</ion-label>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>
          Notes:
        </ion-label>
        <ion-label end text-wrap>
          <p>{{speechNotes || 'No notes found.'}}</p>
          <button ion-button small *ngIf="speechRecognitionIsAvailable && !isListening" (click)="startListening()">Create</button>
          <button ion-button small *ngIf="isListening" (click)="stopListening()">Stop Listening</button>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-row class="actions-row">
          <ion-col width-100>
            <button ion-button block class="auth-action-button logout-button" (click)="saveHoleScore()">Save Hole</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'roundsummary'">
      <ion-item>
        <ion-label>
          Front 9:
        </ion-label>
        <ion-label end text-right>
          {{runningScoreFront9 > 0 ? '+' : ''}}{{runningScoreFront9}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Back 9:
        </ion-label>
        <ion-label end text-right>
          {{runningScoreBack9 > 0 ? '+' : ''}}{{runningScoreBack9}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Score:</strong>
        </ion-label>
        <ion-label end text-right>
          <strong>{{runningScore > 0 ? '+' : ''}}{{runningScore}}</strong>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-row class="actions-row">
          <ion-col no-padding width-100>
            <button ion-button block class="auth-action-button logout-button" (click)="saveHoleScore()">End Round</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
